canvas {
    border: 1px solid #32879F;
}

body {
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: #236167;
    color: #031C1E;
}


p.copyright {
    font-style: italic;
}
